mixin begin_now_card(eventTracking, locationEventSegmentation)
	- var registerURL = '/register'
	- var isUserLoggedIn = !!getSessionUser()

	.begin-now-card
		.card.card-pattern
			.card-body
				p.dm-mono
					span.font-size-display-xs
						span.text-purple-bright \begin
						wbr
						span.text-green-bright {
						span now
						span.text-green-bright }
				p A collaborative LaTeX workspace for teams and labs.
				p.card-links
					if !isUserLoggedIn
						a.btn.btn-primary.card-link(
							href=registerURL
							event-tracking-mb=eventTracking ? 'true' : null
							event-tracking=eventTracking
							event-tracking-trigger=eventTracking ? 'click' : null
							event-segmentation=eventTracking ? {location: locationEventSegmentation, destination: registerURL} : null
						) #{translate("sign_up_for_free")}
