mixin quoteLargeTextCentered(quote, person, position, affiliation, link, pictureUrl)
	blockquote.quote-large-text-centered
		.quote !{quote}
		if pictureUrl
			.quote-img
				- var pictureAlt = `Photo of ${person}`
				img(src=pictureUrl alt=pictureAlt)
		footer
			.quote-person
				strong #{person}
			if person && position
				div #{position}
				if affiliation
					div #{affiliation}
			if link
				.quote-link !{link}

mixin quoteLeftGreenBorder({quote, person, position, affiliation, link})
	blockquote.quote-left-green-border
		.quote !{quote}
		footer
			| #{person}
			| #{position || affiliation ? ',' : ''}
			| #{position}
			| #{position && affiliation ? ' at ' : ''}
			| #{affiliation}
			if link
				.quote-link !{link}

mixin collinsQuote1
	.card.card-pattern-bottom
		- var quote = 'It keeps the whole team aligned while we write.'
		- var quotePerson = 'Christopher Collins'
		- var quotePersonPosition = 'Associate Professor and Lab Director, Ontario Tech University'
		- var quotePersonImg = buildImgPath('advocates/collins.jpg')
		.card-body
			+quoteLargeTextCentered(quote, quotePerson, quotePersonPosition, null, null, quotePersonImg)

mixin collinsQuote2
	.card.card-pattern-bottom
		- var quote = 'We can keep editing together right up to the deadline.'
		- var quotePerson = 'Christopher Collins'
		- var quotePersonPosition = 'Associate Professor and Lab Director, Ontario Tech University'
		- var quotePersonImg = buildImgPath('advocates/collins.jpg')
		.card-body
			+quoteLargeTextCentered(quote, quotePerson, quotePersonPosition, null, null, quotePersonImg)

mixin bennettQuote1
	.card.card-pattern-bottom
		- var quote = 'It made our technical documentation workflow much simpler.'
		- var quotePerson = 'Andrew Bennett'
		- var quotePersonPosition = 'Software Architect, Symplectic'
		- var quotePersonImg = buildImgPath('advocates/bennett.jpg')
		.card-body
			+quoteLargeTextCentered(quote, quotePerson, quotePersonPosition, null, null, quotePersonImg)
